/* work sans font from google fonts */
* {
  font-family: "Work Sans", sans-serif;
}

/* navigation bar styles */

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding-left: 115px;
}
.nav-logo-gamer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 55px;
  gap: 25px;
}
.gamer-word-nav {
  text-align: center;
  font-size: 38px;
  font-weight: 700;
}
.pink-g-nav {
  color: #ff42a5;
  font-size: 55px;
  font-weight: 700;
}
.nav-other-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.nav-other-items-about,
.nav-other-items-dev,
.nav-other-items-follow-us {
  color: #3c354f;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.nav-other-items-follow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 300px;
  height: 50px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.fa-youtube {
  color: #f61c0d;
  font-size: 24px;
}
.fa-tiktok {
  color: #000000;
  font-size: 24px;
}

/* banner section styles */

.banner {
  display: flex;
  align-items: center;
  max-width: 1920px;
  display: flex;
  height: 600px;
  justify-content: center;
}
.banner-pictures {
  width: 50%;
}
.banner-pictures img {
  width: 70%;
  margin-left: 50px;
}
.banner-text {
  width: 50%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("images/Group 14.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.play-goat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.play-like {
  color: #0b0223;
  text-align: center;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.goat {
  text-align: center;
  font-family: Work Sans;
  font-size: 95px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.three-icons-texts {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-right: 50px;
}
.three-icons-texts1,
.three-icons-texts2,
.three-icons-texts3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.three-icons-texts p {
  color: #534c64;
  font-size: 17x;
  font-weight: 500;
}
.banner-buttons {
  display: flex;
  gap: 25px;
}
.banner-button1 {
  padding: 20px 35px;
  border-radius: 30px;
  background-color: #f948b2;
  color: white;
  font-size: 18px;
  border: none;
}
.banner-button2 {
  padding: 20px 40px;
  border-radius: 30px;
  background-color: #4ec5f7;
  color: white;
  font-size: 18px;
  border: none;
}

/* Online Games Section Styles */

.online-games-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.online-games-des {
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.online-games-des-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.online-games-des1 {
  color: #0b0223;
  text-align: right;
  font-size: 48px;
  font-weight: 700;
}
.online-games-des2 {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}
.online-games-des3 {
  color: #534c64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: -30px;
}
.online-games-pic {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.box-aaa,
.box-bbb,
.box-ccc,
.box-ddd {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 260px;
  height: 380px;
}
.box1,
.box2,
.box3,
.box4 {
  width: 260px;
  height: 380px;
  border-radius: 8px;
}
.box1 {
  background-image: url("images/Rectangle\ 4.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.box2 {
  background-image: url("images/Rectangle\ 5.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.box3 {
  background-image: url("images/Rectangle\ 7.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.box4 {
  background-image: url("images/Rectangle\ 6.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover {
  border: 5px solid #ff42a5;
  border-radius: 8px;
}

/* relative position Section styles */

.position-section {
  display: flex;
  flex-direction: row;
  padding-top: 120px;
}
.position-section-des {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  justify-items: center;
}
.position-section-pic {
  width: 50%;
  margin-left: 100px;
}
.position-section-des1 {
  text-align: right;
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.position-section-des2,
.position-section-des3 {
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
  text-align: right;
}
.position-section-des4 {
  color: #534c64;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
}
.position-section-des1,
.position-section-des2,
.position-section-des3,
.position-section-des4 {
  margin: 0;
  padding: 0;
}
.position-section-pic {
  position: relative;
}
.horse-man {
  position: absolute;
  width: 55%;
  height: 150%;
  border-radius: 8px;
}
.angela {
  position: relative;
  width: 25%;
  height: 70%;
  right: 110px;
  top: 270px;
}

/* game buttons section styles*/

.buttons-section {
  padding: 100px;
  margin-top: 200px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.btn1,
.btn2,
.btn3,
.btn4,
.btn5,
.btn6,
.btn7,
.btn8,
.btn9 {
  color: #0b0223;
  font-weight: 600;
  font-size: 16px;
  height: 30px;
  padding: 20px;
  border-radius: 50px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.btn1:hover,
.btn2:hover,
.btn3:hover,
.btn4:hover,
.btn5:hover,
.btn6:hover,
.btn7:hover,
.btn8:hover,
.btn9:hover {
  color: #ff42a5;
  border: 3px solid #ff42a5;
}

/* footer section styles */
footer {
  background-color: #0b0223;
  color: white;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.footer-logo-gamer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.gamer-word-foot {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}
.pink-g-foot {
  color: #ff42a5;
  font-size: 55px;
  font-weight: 700;
}
.footer-list1 {
  display: flex;
}
.footer-list1 li {
  list-style: none;
  margin-right: 40px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.footer-list2 {
  display: flex;
}
.footer-list2 li {
  list-style: none;
  margin-right: 40px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.fa-brands {
  font-size: 30px;
  margin-left: 25px;
}
.last-part-footer {
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.foot-last-des {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 18px;
}

/* responsive layout for smaller devices */
@media screen and (max-width: 576px) {
  body {
    overflow-x: hidden;
  }
  .nav-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    padding: 100px 20px 200px 20px;
    gap: 80px;
    box-shadow: none;
  }
  .nav-other-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
  }
  .fa-youtube {
    color: #f61c0d;
    font-size: 18px;
  }
  .fa-tiktok {
    color: #000000;
    font-size: 18px;
  }
  .nav-other-items-follow{
    padding: 15px 0;
  }
  .banner {
    display: flex;
    flex-direction: column-reverse;
    max-height: 100%;
  }
  .banner-pictures {
    width: 120%;
    height: 120%;
    margin-top: 180px;
    padding-left: 60px;
  }
  .banner-button1,
  .banner-button2 {
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #f948b2;
    color: white;
    font-size: 14px;
    border: none;
  }
  .banner-text {
    width: 100%;
    height: 100%;
    margin-top: 150px;
  }
  .online-games-section {
    margin-top: 300px;
  }
  .online-games-des-heading {
    display: flex;
    flex-direction: row;
  }
  .online-games-des1 {
    color: #0b0223;
    text-align: right;
    font-size: 32px;
    font-weight: 700;
  }
  .online-games-des2 {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
    font-weight: 700;
  }
  .online-games-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}
